@import url("https://fonts.googleapis.com/css?family=Gilda+Display");
@import url("https://fonts.googleapis.com/css?family=Lato");


html, body {height: 100%;}

/* H E A D E R  */

.header {
  height: 100%;
  color: white;
}

.htext {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000107;
  opacity: 1;
  padding: 50px 20px;
  z-index: 99999;

}

h1,
h2 {
  font-family: 'Gilda Display', serif;
}

h1 {
  font-size: 49px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
}

.bg {
  background-image: url("https://photos-3.dropbox.com/t/2/AACAUBDY5jg82ReRw0AlHnAVZrAMNfaHdiLIPg_B-PVaow/12/336853155/png/32x32/1/_/1/2/naglowek.png/EMi2iNACGAUgAigC/mi28jfOhYM6JDkHvusaZxahPx60SGDzbPOJn_XKuJus?size=2048x1536&size_mode=3");
  height: 100vh;
  z-index: 1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  transition: all 2s ease;
  position: relative;
}

.bg:hover {
  filter: grayscale(0%);
}



/* BIO */

.biography {
  padding: 100px 0;
}

.bio {
  padding: 0 20px;

}

h3 {
  font-size: 38px;

}

p {
  text-align: justify;
}


/* Q U O T E */

.quote {
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: 'Lato', serif;
}

.qtwo {
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: 'Gilda Display', serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.quotebox {
  background-image: url("https://photos-5.dropbox.com/t/2/AABKQ8SzFE8BYlGNuVjMqjBlHuGD67VURQETrZKJIkVDaQ/12/336853155/png/32x32/1/_/1/2/cytat.png/EMi2iNACGAUgAigC/-Rwee6RYLnEwMcdSNnQF6Mc-I_y_MnFqPhfHMm4KUpk?size=2048x1536&size_mode=3");
  height: 300px;
  width: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  transition: all 2s ease;
  position: relative;
}

.quotebox:hover {
  filter: grayscale(0%);
}



/* T I M E L I N E */

.timeline1 {
  padding-top: 100px;
  margin-bottom: 100px;
  min-height: 100%;
}


a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}





/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  padding: 6px 10px;
  border-radius: 5px; 
  font-weight: 600;
  text-align: left;
}


.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: #757575; 
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: white;

}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}
.flag {
	background: white;
	z-index: 15;
}


.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

@media screen and (min-width: 400px and max-width: 660px) {
.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}

/* M O R E */
.more {
  background-image: url("https://photos-4.dropbox.com/t/2/AACUnAxeitaV_HrB7UxLdXX9S9HqfG7GAYjtplkDkgHlxQ/12/336853155/png/32x32/1/_/1/2/wiecej.png/EMi2iNACGAUgAigC/PafqaH-uIjBrDNmQuHAsEFtjxmo-_nswZcQmosMHfDs?size=2048x1536&size_mode=3");
  height: 300px;
  width: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  transition: all 2s ease;
  position: relative;
}

.more:hover {
  filter: grayscale(0%);
}


@media screen and (max-width: 660px) {
    .header .bg{
    height: 300px;
  }
  
  .htext {
    top: 50%;
    background: none;
  }
  
  h2 {
    display: none;
  }
  
  .header {
  height: 300px;
  width: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
    margin-bottom:-30px;
}
  h3 {
    margin-top: 0px;
  }


  
}
